<div>
  <div class = "container">
    <div>
      Wpisz zadanie:
      <input [(ngModel)]="newTask">
      <button type="button" (click)="add()" class="btn btn-outline-primary">Dodaj</button>
    </div>
  </div>
  <div class = "container">
    <div>
      Lista zadań
      <ul>
        <li *ngFor="let task of tasksList">
          {{task}}

          <button type="button" (click)="remove(task)" class="btn btn-primary btn-sm">Usuń</button>
          <button type="button" (click)="done(task)" class="btn btn-secondary btn-sm">Zrobione</button>

        </li>
      </ul>
    </div>


    <div>
      Zadań wykonanych {{tasksDone.length}}
      <ul>
        <li *ngFor="let tDone of tasksDone">
          {{tDone}}

        </li>
      </ul>
    </div>
  </div>

</div>
