
  <nav class="navbar navbar-dark bg-dark">
    <span style="font-size: 48px; color: salmon;">
      <i class="fas fa-code"></i>
    </span>
    <a class="navbar-brand" href="#">AMIW Projekt</a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="/toDoList">Lista zadań</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/table">Tabela</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </nav>


<router-outlet></router-outlet>
